<!DOCTYPE html>
<html>
<head>
  <title>Job Title</title>
  <meta name="Full Job Description" content="Full Job Description Page">
  <meta name="keywords" content="[insert tags here]">

  <link rel="stylesheet" type="text/css" href="../public/css/expandedJobView.css">

  </style>


  <script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>



</head>


<body>

  <div id="popupBox" class="popupPosition">
    <div id="popupWrapper">
      <div id="popupContainer">
          <div id="closeJob">
            <p><a href="javascript:void(0)" onclick="toggle_visibility('popupBox')"><img src="../public/img/cancelButton.png"></a></p>
          </div>
          <header>
            <!-- Job Title -->
            <div class="jobTitle">
                <h1>Job Title Here</h1>
            </div>
            <!-- Job Size -->
            <div id="jobSize">
              <p>This is an XL job.</p>
            </div>

            <div class="clr"></div>

            <!-- Job Description -->
            <div class="jobDescription">
              <p>[Job Description]: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div>
          </header>

          <div style;"margin-top:20px;"></div>

          <!-- Categories are: Transportation, Food, Water, Clothing, Power, Evac -->
          <div id="jobCategory">
              <h3>Category: [insert category here]</h3>
          </div>

          <div style;"margin-top:20px;"></div>

            <!-- Requirements -->
            <div class="jobRequirements">
              <b><strong>Job Requirements</strong></b>
                <ul>
                  <li>Requirement 1 hello my name is Tim and I am absolute shit at Hackathons, like what the fuck am I doing, but it's ok, we got this fam.</li>
                  <li>Requirement 2</li>
                  <li>Requirement 3</li>
                </ul>
            </div>


          <!-- Location -->
          <div id="jobLocation">
            <p>Job Location: <br> [insert location here]</p>
          </div>

          <div class="clr"></div>

          <!-- Contact Info -->
          <div class="contactInformation">
            <h4>Requesting Organization Contact Information:</h4>
              <ul>
                <li>Country: [country]</li>
                <li>Phone Number: [phone number]</li>
                <li>Email: [email]</li>
              </ul>
          </div>


          <!-- Confirm Button -->
          <div class="confirmJob">
            <input class="button" type="submit" value="Confirm" name = "">
          </div>



          <div class="clr"></div>

          <br>

          <!-- Tags -->
          <small>Tags: [insert tags here]</small>
          <br>
          <small>Posted on [Date]</small>

          <footer id="mainFooter">
            <p>Copyright &copy; 2018, Colin, Charles, Melanie, Horatio, Tim - H4H at SCU</p>
          </footer>
        </body>

      </div> <!-- popupContainer end -->
    </div> <!-- popupWrapper end -->
  </div> <!-- popupBox end -->

<!-- The button that opens the popup goes here -->
  <div id="wrapper">
      <p><a href="javascript:void(0)"  onclick="toggle_visibility('popupBox')";>Sample Job</p>
  </div>


<html>


<!--
Things to include:
<ul>
  <li>Job Title </li>
  <li>Description</li>
  <li>Category</li>
  <li>Requirements</li>
  <li>Location</li>
  <li>Job Size</li>
  <li>Contact</li>
  <li>Tags</li>
<ul>
-->
