<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Feeds </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/feeds.css">
</head>
<body>
    <script type="text/javascript" src="/js/dist/feed.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript">
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    </script>
    <section class="section">
        <div class="container">
            <h1 class="title" style="color:#EE6A50">Disaster Relief Tracker</h1>
            <br/>
            <p class="subtitle is-6" style="color:#EE6A50">Disaster Relief Tracker is a private communication mediator which interfaces outreach organizations (such as the Red Cross) with local governments/organizations which need help. In order to get access, organizations are required to get verified.</p>
        </div>
    </section>
    <hr>
    <div class="columns">
        <div class="column">
            <div class="searchUnit">
                <button id="showClaimedJobs" class="button is-link">Claimed</button>
                <a id="createJobLink" href="/create" class="button is-link">Add</a>
                <button type="button" id="refreshJobs" class="button is-info">Refresh</button>
                <input type="text" id="filter" placeholder="Search..." class="input is-primary" style="width:29%">
                <button type="button" id="btnfilter" class="button is-primary">Filter</button> 
            </div>
            <div class="container" id="feed"></div>
        </div>
        <div class="column">
            <div class="information">
            </div>
        </div>
    </div>
</body>
</html>