<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Feeds </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/feeds.css">
</head>
<body>
    <script type="text/javascript" src="/js/dist/feed.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <section class="section">
        <div class="container"><h1 class="title" style="color:#EE6A50">Live Feed</h1></div>
    </section>
    <hr>
    <div class="columns">
        <div class="column">
            <div class="searchUnit">
                <input type="text" id="filter" placeholder="Search...">
                <button type="button" id="btnfilter">Filter</button> 
            </div>
            <div class="container" id="feed"></div>
        </div>
        <div class="column">
            <div class="searchfield"></div>
        </div>
    </div>
</body>
</html>