<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/update.css" type="text/css">
</head>
<body>
  <h2>Update Modal</h2>
  <button id="updateBtn">Update Modal</button>
  <div id="updateModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h1 id="jobTitle"></h1>
      </div>
      <div class="modal-body">
        <h2>Receptor:</h2>
        <p id="organization"></p>
        <h2>Status:</h2>
        <p id="deliveryStatus"></p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/dist/update.min.js"></script>
</body>
</html>
