<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/update.css" type="text/css">
    </head>
    <body>
      <h2> Update Modal</h2>
      <button id="updateBtn">Update Modal</button>
      <div id="updateModal" class=updateModal>
          <div class="update-content">
            <span class="update-header">
            <h1>Update</h1>
          </div>
          <div class="update-body">
            <h2>Receptor:</h2>
            <p>   Red Cross</p>
            <h2>Status:</h2>
            <p>   Request Recieved</p>
            <p>   En Route</p>
            <p>   Arrived</p>
            <p>   Distributed</p>
          </div>
        </div>
    </body>
</html>
