
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


body{
  /* background-color: #f4f4f4; /* Light Grey */ */
  color: #555555; /* Dark Grey */

  font-family: Arial, Helvetica, sans-serif; /* Perhaps change this later */
  font-size: 16px;
  font-weight:normal;

  line-height: 1.4em; /* line spacing, em is line height */
  margin-left: 2in;
  margin-right: 2in;
  margin-top: 0in;
  margin-bottom:0;
  padding: 15px;
}

.popupPosition{
  display: none;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
}

#popupWrapper{
  width: 960px;
  margin: 40px auto;
  text-align: left;
}

#popupContainer{
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  float-align: center;
}

#wrapper{
  width: 100px;
  margin: 40px auto;
  text-align: left;
  color: #000;
}


.clr{
  clear:both;
}


#closeJob{
  float:right;
  margin-up:0;
  margin-right:18px;
}


.jobTitle{
  float:left;
  width:70%;
  text-indent: 4%;
  margin-left: 4%;
  padding-top: 10px;
  padding-bottom: 20px;

  box-sizing: border-box;
}

.jobDescription{
  width:90%;
  margin: 0px 35px;
  float: left;
}

#jobCategory{
  /* width:95%; */
  /* margin:auto; */
  /* font-weight: bold; */
  padding-top: 30px;
}

 #jobSize{
  width: 154px;
  height: 60px;
  padding: 0px;
  padding-top: 17px;
  border: 2px #000 solid;
  /* border-radius: 25px; */
  text-align:center;
  /* vertical-align: middle; */
  align-items: center;

  float:right;
  box-sizing: border-box;

  margin-right: 35px;
  /* margin-up: 50px; */
  /*background-color: #ee6850;
  color: #000; */

  /* padding-top: 10px; */
}

/* .jobRequirements{ */
  /* margin-left: 4%; */
  /* width: 67%; */
  /* float: left; */
  /* box-sizing: border-box; */
/* } */

#jobCategory{
  margin-top: .5in;
  margin-left: 4%;
  width: 67%;
  /* float: left; */
  box-sizing: border-box;
}

#jobLocation{
  width: 26%;
  float: right;
  text-align:center;
  align-items: center;
  /* border-radius: 25px; */
  margin-right: 3%;
  margin-top: 1in;

  border: 2px #000 solid;  /* Change color */
  border-radius: 5px;
  box-sizing: border-box;
  /* background-color: green; */
  /* color: #000; */
}

.contactInformation{
  margin-top: 110px;
  margin-left: 5.5%;
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
  width: 60%;
  float: left;
}


.confirmJob input[type="submit"]{
  /* background-color:#333; */
  /* color:#fff; */
  padding: 10px, 15px;
  border:none;
  width: 150px;
  float: right;
  margin-right:8%;
  margin-top: 5.5%;
  height: 75px;
  font-size: 23px;
  border-radius: 10px;
}


.contactInformation h4{   /* The Header */
  text-align: center;
  padding: 0;
}

.contactInformation ul{   /* List Items */
  padding-left: 25px;
  list-style: square;
}

.contactInformation li{   /* List itself */
  padding: 3px 0px;
}

.tags{
  margin-left: 2%;

}
