<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Form</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>
<body>
    <script type="text/javascript" src="/js/dist/createJob.min.js"></script>
    <section class="section">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-6">
                    <form action="/create/post" method="POST" class="form-group">
                        <div class="form-group row">
                            <label for="titleInput" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="titleInput" placeholder="Enter a short title..." name="titleInput"> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionInput" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-6">
                                <textarea id="descriptionInput" class="form-control" rows="3" placeholder="Enter a description..." required name="descriptionInput"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="jobSizeSelector" class="col-sm-2 col-form-label">Job Size</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="jobSizeSelector" name="jobSizeSelector">
                                    <!-- Will do the appending in createJob.js -->
                                    <option selected>Select Size...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="categoriesSelector" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-6">
                                <select multiple class="form-control" id="categoriesSelector" name="categoriesSelector">
                                    <!-- Will do the appending in createJob.js -->
                                    <option selected>Select Categories...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="locationInput" class="col-sm-2 col-form-label">Location</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="locationInput" placeholder="Enter Location..." name="locationInput"> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="contactInput" class="col-sm-2 col-form-label">Contact</label>
                            <div class="col-sm-6">
                                <textarea type="text" class="form-control" id="contactInput" placeholder="Optional: Enter Contact Information..." name="contactInput"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tagsInput" class="col-sm-2 col-form-label">Tags</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tagsInput" placeholder="Add tags separated by commas..." name="tagsInput">
                            </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-outline-primary" id="createJobButton">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>